

body {
    background-color: lightblue;
 }


.sigline1{
    color: Black;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30pt;
}

.sigline2{
    color: Black;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 30pt;
}
.info{
    color: black;
    font-family: Courier New, Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.box {
  color: #fff;
  background: #0011cc;
}
#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.8em;
}

h2 {
  font-family: Courier New, Courier, monospace;
	font-size: 28px;
  font-weight: 300;
  text-align: center
}
}